.box{
    border-radius: 10px;
    border-style: solid;
    display: block;
    /* width: 300px; */
    height: 200px;
    /* position: static; */

}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.violet {
    background-color: violet;
}

.yellow  {
    background-color: yellow;
}

/*possizione fissa*/
.absolute {
    position: absolute;
    width: 200px;
    top: 200px;
    right: 100px;
}

.fixed {
    position: fixed;
    width: 200px;
    top: 200px;
    left: 100px;
}

.relative {
    position: relative;
    top: 50px;
    left: 100px;
}

.small-box {
    width: 100px;
    height: 100px;
}

.absolute-relative {
    left: 20px;
    bottom: 20px;
    position: absolute;
}